.most-use-list:nth-child(-n + 3)::after {
  content: "most";
  font-size: xx-small;
  color: white;
  font-style: italic;
  background-color: #582ff5;
  width: 2.1rem;
  height: 1rem;
  padding: 0 5px;
  border-radius: 0 6px 0 2em;
  position: absolute;
  top: 0px;
  right: 0px;
}

.demo-bg {
  background-image: url(./images/demo-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}
